arrow ~= 1.2.3
autopep8 ~= 2.0.2
beautifulsoup4 ~= 4.12.2
fastparquet ~= 2023.8.0
highspy ~= 1.5.3
ipykernel ~= 6.23.1
matplotlib ~= 3.7.0
numpy ~= 1.24.2
openpyxl ~= 3.1.2
pandas ~= 2.0.2
Pillow ~= 9.5.0
PuLP ~= 2.7.0
pyright ~= 1.1.300
pyxlsb ~= 1.0
requests ~= 2.31.0
scipy ~= 1.10.1
